
<app-header></app-header>
<table style=" width: 100%;height: 25%; background-color: lightgreen; font: 1em sans-serif;" >
  <tr>
    
    
     
    
    <td style="width:15%; text-align: center; ">  <a routerLink="/admin" >Admin</a></td>
    <td style="width: 15%; text-align: center; ">  <a routerLink="/bookCategory"> BookCategory</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Best sellers"> Best Sellers</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/New Arrivals"> New Arrivals </a>  </td>
   
    <td style="width: 15%; text-align: center;">  <a routerLink="/Featured Authors">  Featured Authors </a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Request a Book">  Request a Book </a></td>
    
    
  </tr>
</table>
<hr/>


<app-book-review></app-book-review>

<router-outlet></router-outlet>